<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Settings</title>
    <!-- Using Bootstrap for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap.min.css') }}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='content/site.css') }}">
</head>
<body>
    <h2>Connection Settings</h2>
    <form action="/connect" method="post">
        <div class="form-group">
            <label for="centralServerIp">Central Server IP:</label>
            <input type="text" id="centralServerIp" name="centralServerIp" value="localhost" required>
        </div>
        <div class="form-group">
            <label for="centralServerPort">Central Server Port:</label>
            <input type="number" id="centralServerPort" name="centralServerPort" value="20001" required>
        </div>
        <div class="form-group">
            <label for="forwarderServerIp">Forwarder Server IP:</label>
            <input type="text" id="forwarderServerIp" name="forwarderServerIp" value="localhost" required>
        </div>
        <div class="form-group">
            <label for="forwarderServerPort">Forwarder Server Port:</label>
            <input type="number" id="forwarderServerPort" name="forwarderServerPort" value="9999" required>
        </div>
        <button type="submit" class="connect-btn">Connect</button>
    </form>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
